/target/
.prefs
.classpath
.bak
pom.properties
MANIFEST.MF
/bin/
.settings/
*.bak
*.chm
jre/
Nieuwe map/
Library.iss
GarminSummary/HelpChm.cmd
GarminSummary/innosetup.cmd
GarminSummary/Library.iss
ing2ofx/HelpChm.cmd
ing2ofx/innosetup.cmd
ing2ofx/Library.iss
